form {
  max-width: 460px;
  margin: 20px auto;
  padding: 20px;
}

footer {
  background-color: #a267ac !important;
  padding: 1em;
}

textarea {
  height: auto;
  resize: none;
  width: 100%;

  margin: 10px 0 10px 0;
  padding: 10px;
  border-radius: 10px;

  font-size: 16px;
  color: #a267ac !important;
}

.brand {
  background: #a267ac !important;
}

.brand-text {
  color: #a267ac !important;
}

.title-text {
  min-height: 50px;
}

.body-text {
  min-height: 250px;
}

.search-container {
  display: flex;
}

.select-search {
  margin: 5px 0 10px 0;
}
